.typing {
    /* Set the text content */
    content: attr(data-text);
    animation: typing 2s steps(40, end) infinite forwards;
    overflow: hidden;
    white-space: nowrap;
    /* font-size: 0.9em; */
    font-weight: bolder;
    /* display: inline-block; */
  }

  .untyping {
    /* Set the text content */
    color: white; 
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }